.vertical-center {
    min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh; /* These two lines are counted as one :-)       */
    align-items: center;
    z-index: 15;
    top: 50%;
    padding-left: 35%;
}

ul.dropdown-menu{
  padding: 10px;
}

div button.btn{
  margin-top:5px;
  margin-left: 10px;
  href="search-results.html";
}
td.bd{
  border-bottom: 1px solid white;
}

th, td{
  text-align:center;
  vertical-align:middle;
}
