<head>
	<style type="text/css">
        h1{
            display: block;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.75);
            left: 0px;
            right: 0px;
            font-family: "Steamwreck";
            font-weight: 700;
            font-size: 10vw;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin: 0px auto;
            transition: all 0.6s ease;
            text-align: center;
        }
        #responseBlock {
            color: rgba(255,255,255,0.7);
		    font-family: Helvetica;
		    margin: 1.5rem 3rem;
		    font-size: 3.2rem;
		    padding: 2rem;
		    float: left;
		    width: 55%;
        }
        #navigation {
        	width: 20%;
		    background: rgba(255,255,255,0.8);
		    float: left;
		    padding: 1.5rem;
        }
    </style>
</head>
<body style="text-align: center;">
	<div id="main" style="width: 80%; text-align: left; margin: 0 auto;">
   		<div id="responseBlock" style="background: rgba(0,0,0,0.7);">
                    <p>Public Enemy</p>
   		</div>
   		<div id="navigation">
	   		<li>Benny Benasi</li>
	   		<li><strong>Public Enemy</strong></li>
	   		<li>James Brown</li>
   			<li>Clyde Stubfield</li>
   		</div>
    </div>

    <div class="js-video-container" style="
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: url(http://ericsanjuan.com/wp-content/uploads/2016/12/Public-Enemy-05.jpg) no-repeat;
        background-size: cover;
        filter: blur(4px);
    "></div>
</body>
